<nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container">
        <a class="navbar-brand" href="@Url.Action("Index","Dashboard")">Admin</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    @Html.ActionLink("Kullanıcılar", "Index", "User",new{ area = "Admin" }, new {@class="nav-link"})
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Ürünler</a>
                </li>
            </ul>
            <a class="btn btn-outline-light mx-1" href="/">Mağaza</a>
            <a class="btn btn-outline-light mx-1">Çıkış yap</a>
        </div>
    </div>
</nav>