
@{
    ViewBag.Title = "Erişim Engellendi";
}

<div class="text-center m-5">
    <i class="fa-solid fa-ban fa-4x text-danger"></i>
    <div class="display-2">Bu Sayfaya Erişim Yetkiniz Yok!</div><br />
    <div>Ana Sayfaya dönmek için <a href="@Url.Action("Index","Home")">tıklayın</a>.</div>
</div>