<header class="p-3  border-bottom bg-primary sticky-top">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
                <i class="fa-solid fa-store fa-2x"></i>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 link-body-emphasis fs-5">FutShop</a></li>
                <li>
                    <a href="#" class="nav-link px-2 link-body-emphasis fs-5">
                        <i class="fa-solid fa-angle-up"></i>
                    </a>
                </li>
            </ul>

            <form class="w-50 me-3" role="search">
                <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
            </form>

            <div class="dropdown text-end m-1">
                <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle btn btn-outline-secondary" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-user"></i>
                    Hesap
                </a>
                <ul class="dropdown-menu text-small" style="">
                    <li><a class="dropdown-item" href="#">Profil</a></li>
                    <li><a class="dropdown-item" href="#">Adresler</a></li>
                    <li><a class="dropdown-item" href="#">Siparişler</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Çıkış Yap</a></li>
                </ul>
            </div>

            <div class="dropdown text-end m-1">
                <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle btn btn-outline-secondary" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-cart-shopping"></i>
                    Sepet
                </a>
                <ul class="dropdown-menu text-small" style="">
                    <li><a class="dropdown-item" href="#">Sepete Git</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Ürün 1</a></li>
                    <li><a class="dropdown-item" href="#">Ürün 2</a></li>
                    <li><a class="dropdown-item" href="#">Ürün 3</a></li>

                </ul>
            </div>
        </div>
    </div>
</header>
